In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
import pandas as pd
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier, Pool
from sklearn.metrics import accuracy_score, classification_report

In [2]:
df = pd.read_csv('train.csv')

In [5]:
df['transaction_time'] = pd.to_datetime(df['transaction_time'])
df['minutes'] = df['transaction_time'].dt.minute
df['hours'] = df['transaction_time'].dt.hour
df['days'] = df['transaction_time'].dt.day
df['month'] = df['transaction_time'].dt.month
df['year'] = df['transaction_time'].dt.year

df['hour_sin'] = np.sin(2 * np.pi * df['hours'] / 24)
df['hour_cos'] = np.cos(2 * np.pi * df['hours'] / 24)

df['day_sin'] = np.sin(2 * np.pi * df['days'] / 30) 
df['day_cos'] = np.cos(2 * np.pi * df['days'] / 30)

df['month_sin'] = np.sin(2 * np.pi * df['month'] / 12)
df['month_cos'] = np.cos(2 * np.pi * df['month'] / 12)

In [7]:
df = df.drop('transaction_time', axis=1)
df = df.drop(['lon', 'lat', 'post_code'], axis=1)

In [13]:
X = df.drop('target', axis=1)
y = df['target']

cat_features = ['merch', 'cat_id', 'name_1', 'name_2', 'gender', 'street', 'one_city', 'us_state', 'jobs']

full_pool = Pool(X, label=y, cat_features=cat_features)

model = CatBoostClassifier(iterations=300, verbose=50) 
model.fit(full_pool)

Learning rate set to 0.5
0:	learn: 0.0791952	total: 650ms	remaining: 3m 14s
50:	learn: 0.0053272	total: 25.5s	remaining: 2m 4s
100:	learn: 0.0037365	total: 49.9s	remaining: 1m 38s
150:	learn: 0.0028657	total: 1m 15s	remaining: 1m 14s
200:	learn: 0.0024410	total: 1m 39s	remaining: 49.1s
250:	learn: 0.0020339	total: 2m 5s	remaining: 24.6s
299:	learn: 0.0016251	total: 2m 33s	remaining: 0us

In [15]:
df_test = pd.read_csv('test.csv')
df_test

,transaction_time,merch,cat_id,amount,name_1,name_2,gender,street,one_city,us_state,post_code,lat,lon,population_city,jobs,merchant_lat,merchant_lon
0,2019-09-14 02:46,"fraud_Stokes, Christiansen and Sipes",grocery_net,25.79,Michael,Rodriguez,M,172 Paula Inlet Apt. 650,Cross Plains,TX,76443,32.1482,-99.1872,1897,Chief Operating Officer,31.772057,-99.103183
1,2019-07-25 20:30,fraud_Thompson-Gleason,health_fitness,87.80,Curtis,Young,M,4319 Watson Shoals Suite 658,Falconer,NY,14733,42.1239,-79.1895,3833,Metallurgist,42.635312,-78.334559
2,2020-01-05 17:27,fraud_Friesen Inc,shopping_pos,10.98,Brandy,Quinn,F,9734 Beard Fields Suite 885,Altair,TX,77412,29.6047,-96.5249,106,"Editor, film/video",29.363782,-95.624994
3,2019-07-21 00:14,"fraud_Jenkins, Hauck and Friesen",gas_transport,71.97,Ashley,Mcdonald,F,3160 Tina Estates Suite 234,Marietta,SC,29661,35.0296,-82.5136,5648,Museum/gallery exhibitions officer,35.142659,-82.489028
4,2019-03-13 00:45,"fraud_Kovacek, Dibbert and Ondricka",grocery_pos,210.50,Kimberly,Rice,F,63991 Destiny Rue Apt. 651,Tyler,TX,75703,32.2768,-95.3031,144160,Sports development officer,31.833016,-94.746542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262139,2019-08-13 21:24,fraud_O'Keefe-Wisoky,food_dining,17.39,Scott,Martin,M,7483 Navarro Flats,Freedom,WY,83120,43.0172,-111.0292,471,"Education officer, museum",42.398393,-110.760528
262140,2019-12-19 16:35,"fraud_Runolfsdottir, Mueller and Hand",entertainment,5.29,Chris,White,M,98897 Bennett Lodge,Bessemer,AL,35022,33.3224,-86.9657,71463,Radio broadcast assistant,33.928294,-87.548646
262141,2019-07-28 14:34,fraud_Dietrich-Fadel,health_fitness,72.75,Katherine,Tucker,F,670 Le Meadows Suite 250,Lakeland,FL,33811,27.9865,-82.0139,237282,Clothing/textile technologist,28.971960,-82.465733
262142,2019-02-27 10:56,fraud_Kunze Inc,grocery_pos,50.14,Nathan,Mendoza,M,767 Adam Mill Apt. 115,Espanola,NM,87533,35.9866,-106.0654,18408,Historic buildings inspector/conservation officer,36.773361,-105.683859
262143,2019-07-31 16:47,fraud_Fadel Inc,health_fitness,75.57,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,39.382185,-79.394534

In [17]:
df_test['transaction_time'] = pd.to_datetime(df_test['transaction_time'])

df_test['minutes'] = df_test['transaction_time'].dt.minute
df_test['hours'] = df_test['transaction_time'].dt.hour
df_test['days'] = df_test['transaction_time'].dt.day
df_test['month'] = df_test['transaction_time'].dt.month
df_test['year'] = df_test['transaction_time'].dt.year

df_test['hour_sin'] = np.sin(2 * np.pi * df_test['hours'] / 24)
df_test['hour_cos'] = np.cos(2 * np.pi * df_test['hours'] / 24)

df_test['day_sin'] = np.sin(2 * np.pi * df_test['days'] / 30) 
df_test['day_cos'] = np.cos(2 * np.pi * df_test['days'] / 30)

df_test['month_sin'] = np.sin(2 * np.pi * df_test['month'] / 12)
df_test['month_cos'] = np.cos(2 * np.pi * df_test['month'] / 12)

df_test = df_test.drop('transaction_time', axis=1)
df_test = df_test.drop(['lon', 'lat', 'post_code'], axis=1)

In [26]:
# df_test

In [28]:
y_predict = model.predict(df_test)

In [34]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [36]:
submission = pd.DataFrame({'index': df_test.index, 'prediction': y_predict})
submission.set_index('index', inplace=True)

submission.to_csv('submission.csv')

print("Файл submission.csv успешно создан.")

Файл submission.csv успешно создан.

In [41]:
submission

        prediction
index
0                0
1                0
2                0
3                0
4                0
...            ...
262139           0
262140           0
262141           0
262142           0
262143           0

[262144 rows x 1 columns]